body {
    background-color:#f0f2f5;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
    font-family: Arial, Helvetica, sans-serif;
}
.page {
    display: flex;
    max-width: 980px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.container {
    flex: 1;                  
    display: flex;
    justify-content: center;
    align-items: center;
}
.left {
    max-width: 500px;
}
.logo {
    width: 280px;
}
.logo-text {
    font-size: 26px;
}
.right {
    width:400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.login-box input {
    width: 100%;
    padding: 15px;
    margin-bottom: 12px;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    font-size: 16px;
}
hr {
    margin-top: 10px;
    margin-bottom: 20px;
    
}
#login-button {
    width: 100%;
    padding: 15px;
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
#login-button:hover {
    background-color: #2982f7;
}
#create-account-button {
    width: 65%;
    padding: 15px;
    background-color: rgb(92, 172, 63);
    border-radius: 6px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}
#create-account-button:hover {
    background-color: rgb(86, 159, 60);
}
#forgot-password {
    text-decoration: none;
    color: blue;
    font-size: 14px;
    display: block;
    margin: 20px 0;
}
#forgot-password:hover {
    text-decoration: underline;
}
.footer {
  background: #ffffff;
  padding: 20px 40px;
  font-size: 12px;
  color: #8a8d91;
  align-items: center;
}

.footer a {
  color: #8a8d91;
  text-decoration: none;
  margin-right: 6px;
  margin-bottom: 6px;
}

.footer a:hover {
  text-decoration: underline;
}

.footer-languages,
.footer-links {
  display: flex;
  flex-wrap: wrap;    
  align-items: center;
}



.lang-more {
  border: 1px solid #ccd0d5;
  background: #f5f6f7;
  padding: 2px 8px;
  cursor: pointer;
  font-size: 14px;
}
